#main
{
    margin-top: 0px;
    margin-left: 5px;
    color: black}
#date
{color: gray;}

.line{
height: 1px;
width: 97%;
background-color: black; 
margin-top: 1%;
margin-bottom: 1%;
margin-left: 20px;
}



#mainD{
border: 1px solid hsl(0, 10%, 94%);


margin-right: 5%;
margin-left: 5%;
background-color: hsl(0, 10%, 94%);
padding: auto 75% ;
}


body{
background-color: white;

}

footer{
   text-align: center;
   font-size: 10px;
}



#Fline{

height: 2px;
width: auto;
background-color: gainsboro;
}

#Hline{
    
    height: 2px;
    width: auto;
    background-color: gainsboro;
    margin-top: 1%;
    
    }
.r{
    
  color: black;
  margin-top: 5%;

 text-decoration: none;

}




ul li {  
display: block;

color: black;

}


#home{  
background-color: #524C47;
    height: 2%;
    width: 2%;
}

#Tn{
padding-top: 3%;
padding-bottom: 2%;
padding-right: 2%;
padding-left: 2%;
margin-right: -4px;
margin-bottom: -5px;
color: white;
text-decoration: none;
background-color: #524C47;

}




#new{

    
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 2%;
    padding-left:2%;
    
    color:black;
    text-decoration: none;
    background-color:hsl(0, 10%, 94%);
    

}
#other{
background-color: #B8561E;
padding-top: 2%;
padding-bottom: 2%;
padding-right: 1%;
margin-top: 0;

}
.other{
  
    padding-left: 1%;
    padding-right: 1%;
   
    color:white;
    text-decoration: none;
   
  
 

}


.LiFont{
margin-top: 1%;
font-size: 15px;


}


a  > ul > li  {

border: 1px solid gray;



}

.bor{

border: 2px solid #080707;
border-style: none none solid none;
padding-left: 5%;
padding-bottom: 2%;
padding-top: 2%;

}